<section id="search" class="search-wrap">
    <h2>Find an Event Gig Enter Boat Name</h2>
    <form action="/gigs/search" class="search-form">
        <i class="fas fa-search"></i>
        <input type="search" name="term" placeholder="Wild Goose, Endless Dreams, Mojo, etc...">
        <input type="submit" value="Search">
    </form>
</section>